body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #82d8ea, #384ce6);
    color: white;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    text-align: center;
    backdrop-filter: blur(10px);
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

input[type="password"] {
    padding: 15px;
    font-size: 18px;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    outline: none;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

input[type="password"]:focus {
    border-color: #00d2ff;
    background-color: rgba(255, 255, 255, 0.3);
}

button {
    padding: 12px 25px;
    font-size: 18px;
    margin-top: 10px;
    border: none;
    background-color: #00c6ff;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #0072ff;
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: translateY(1px);
}

@media (max-width: 500px) {
    .container {
        padding: 20px;
        width: 90%;
    }
    
    h1 {
        font-size: 20px;
    }
    
    input[type="password"] {
        font-size: 16px;
    }
    
    button {
        font-size: 16px;
    }
}
